{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
ZSH_INSTALL_DIR=$HOME/.local/zsh

cd $HOME
mkdir tmp; cd tmp
wget ftp://ftp.gnu.org/gnu/ncurses/ncurses-6.4.tar.gz
tar -xf ncurses-6.4.tar.gz
cd ncurses-6.4

export CXXFLAGS=' -fPIC'
export CFLAGS=' -fPIC'
./configure --prefix=$ZSH_INSTALL_DIR --enable-shared
make
make install

cd ..
INSTALL_PATH="$ZSH_INSTALL_DIR"
export PATH=$INSTALL_PATH/bin:$PATH
export LD_LIBRARY_PATH=$INSTALL_PATH/lib:$LD_LIBRARY_PATH
export CFLAGS=-I$INSTALL_PATH/include
export CPPFLAGS="-I$INSTALL_PATH/include" LDFLAGS="-L$INSTALL_PATH/lib"

git clone https://github.com/zsh-users/zsh.git
cd zsh
autoheader
autoconf
./configure --prefix=$ZSH_INSTALL_DIR --enable-shared
make
make install

cd $HOME
rm -rf $HOME/tmp

{{ end -}}

